{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona gry.pl</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="bg-blue-300 flex justify-center min-h-screen">
<script src="https://cdn.tailwindcss.com"></script>
        <div class="w-full max-w-screen-2xl bg-white shadow-lg mx-auto flex flex-col min-h-screen ">
        <header class="bg-red-500 text-white p-4 text-xl font-bold flex flex-col md:flex-row justify-between items-center w-full">
            <a href="/"><span class="text-2xl">Gry.pl</span></a>
                <nav class="flex flex-wrap justify-center items-center gap-20 text-sm mt-2 md:mt-0">
                <a href="/snake" class="hover:underline">Snake</a>
                <a href="/tetris" class="hover:underline">Tetris</a>
                <a href="/tictac" class="hover:underline">Tic Tac</a>
                <a href="/unity" class="hover:underline">Gra z unity</a>
                <a href="/eagler" class="hover:underline">Eaglercraft</a>
            </nav>
        </header>
{% block content %}


{% endblock %}

        <footer class="bg-red-600 text-white text-center p-6 mt-4 w-full">
            <p class="text-sm">Darmowe gry online na Gry.pl</p>
            <p class="text-xs">© 2025 Gry.pl - Wszelkie prawa zastrzeżone</p>
        </footer>
{% block extra_scripts %}

{% endblock %}
</body>
</html>