{% extends "home.html" %}
{% block content %}
{% load static %}

<div class="container mx-auto p-4 bg-white flex-grow text-center">
    <div class="flex flex-row justify-center items-center gap-14 flex-wrap">
        <a href="/snake" class="block">
            <img src="{% static 'images/snake.png' %}" alt="Snake" width="250" height="250">
            <span class="block mt-2 font-semibold">Snake</span>
        </a>
        <a href="/tetris" class="block">
            <img src="{% static 'images/tetris.png' %}" alt="Tetris" width="250" height="250">
            <span class="block mt-2 font-semibold">Tetris</span>
        </a>
        <a href="/tictac" class="block">
            <img src="{% static 'images/tictac.png' %}" alt="Tic Tac" width="250" height="250">
            <span class="block mt-2 font-semibold">Tic Tac</span>
        </a>
        <a href="/unity" class="block">
            <img src="{% static 'images/unity.png' %}" alt="Gra z Unity" width="250" height="250">
            <span class="block mt-2 font-semibold">Gra z Unity</span>
        </a>
        <a href="/eagler" class="block">
            <img src="{% static 'images/eagler.png' %}" alt="Eaglercraft" width="250" height="250">
            <span class="block mt-2 font-semibold">Eaglercraft</span>
        </a>
    </div>
</div>


{% endblock %}