{% extends "home.html" %}
{% block content %}


        <div class="container mx-auto p-4 grid md:grid-cols-3 gap-4 bg-white flex-grow">
            <div>
                <h2 class="text-lg font-bold mb-2">Polecane Gry</h2>
                <div class="grid grid-cols-3 gap-2">
                    <img src="https://via.placeholder.com/100" class="rounded-lg">
                    <img src="https://via.placeholder.com/100" class="rounded-lg">
                    <img src="https://via.placeholder.com/100" class="rounded-lg">
                </div>
            </div>

            <div>
                <h2 class="text-lg font-bold mb-2">Wybieramy dla Ciebie</h2>
                <div class="relative">
                    <img src="https://via.placeholder.com/300" class="rounded-lg">
                    <button class="absolute bottom-2 right-2 bg-blue-500 text-white px-2 py-1 text-sm rounded">Zagraj Teraz</button>
                </div>
            </div>

            <div>
                <h2 class="text-lg font-bold mb-2">Najpopularniejsze Gry</h2>
                <div class="grid grid-cols-3 gap-2">
                    <img src="https://via.placeholder.com/100" class="rounded-lg">
                    <img src="https://via.placeholder.com/100" class="rounded-lg">
                    <img src="https://via.placeholder.com/100" class="rounded-lg">
                </div>
            </div>
        </div>

    </div>
{% endblock %}